.header__lang-link {
    text-decoration: none;
    color: #ffffff;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 400;
    transition: opacity 1s ease-in-out;
}

.header__lang-link:hover {
    opacity: .5;
}

@media (max-width: 767px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 1.1;
    }
}