.logo {
  background-image: url(../../images/logo.svg);
  width: 176px;
  min-height: 52px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 142px;
    min-height: 42px;
  }
}
