.intro {
  padding-top: 92px;
  padding-bottom: 92px;
  max-width: 690px;
  margin-left: 48px;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    padding-bottom: 88px;
    max-width: 92%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
