.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 92%;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media (max-width: 425px) {
  .footer {
    display: block;
    padding-top: 64px;
  }
}
